[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.testAuroraTask
Exec=/usr/bin/ru.auroraos.testAuroraTask
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=testAuroraTask
ExecDBus=/usr/bin/ru.auroraos.testAuroraTask
